#head {
    width: 100px;

    /* position: absolute;
    top: 0;
    left: 0; */
    /* z-index: 0; */
}

.content {
    /* height: 100px; */
    font-size:large;
    z-index: 100;
    background-color: bisque;
}

body {
    background-color: lightblue;
    /* cursor: url("sword.png"), auto; */
}

.sexy {
    position: absolute;
    top: 0;
    right: 60;
}

.marry-me {
    position: absolute;
    top: 10px;
    left: 0px;
    color: grey;
    font-weight: bold;
}