{% extends "layout.njk" %}
{% block main %}
<form action="/add" method="post" id="add">
    <input autocomplete="off" autofocus name="author" placeholder="Author" type="text">
    <input autocomplete="off" name="quote" placeholder="Quote" type="text">
    <input autocomplete="off" name="chalk" placeholder="Is it a chalk instance? y/n " type="text">
    <input autocomplete="off" name="action" placeholder="Is it an action?" type="text">
    <input autocomplete="off" name="clip" placeholder="Clip link" type="text">
    <button type="submit">submit</button>
</form>
{% endblock %}