<!DOCTYPE html>
<html>
    <head>
        <title>Caleb Curry's Best Moments</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1> Caleb is Baeleb </h1>
        <div class="content">
            hey
        </div>
        <div class="sexy">
            <img id="head" src="images/caleb.png">
            <div  class="marry-me">            
                <div >🌹🌹🌹🌹</div>
                <div>maary me</div>
                <div>🌹🌹🌹🌹</div>
            </div>
        </div>
        <div>
            <form style="">
            <nav>
                <ul> <h3>Author</h3> 
                    <li> <button>Caleb</button> </li>
                    <h3>Special Mention:</h3>
                    <li> <button>Al</button> </li>
                </ul>
                <img src="images/sword.png" alt="Caleb holding a sword" id="caleb-sword">
                
            </nav>
            </form>
        <div>
        <ul>
         {%for quote in quotes %}
           <li> {{quote}}</li>
         {%endfor%}
        </ul>
        </div>
        
        <script src="js/movinghead.js"></script>
    </body>
</html>