<!DOCTYPE html>
<html>
    <head>
        <title>Caleb Curry's Best Moments</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <h1> Caleb is Baeleb </h1>
        <div class="content">
            hey
        </div>
        <div class="sexy">
            <img id="head" src="images/caleb.png">
            <div  class="marry-me">            
                <div >🌹🌹🌹🌹</div>
                <div>maary me</div>
                <div>🌹🌹🌹🌹</div>
            </div>
        </div>

            <div class="flex-container">
            <form action="post">
                <nav>
                    <ul id="author-buttons"> 
                        <h3>Author</h3> 
                        <li> <button>Caleb</button> </li>
                        <li> <button>Al</button> </li>
                    </ul>
                    <img src="images/sword.png" alt="Caleb holding a sword" id="caleb-sword">
                    
                </nav>
            </form>
            
            <ul style="margin-left: 200px;">
                <h6>All quotes:</h6>
                {%for quote in quotes %}
                <li> {{quote}}</li>
                {%endfor%}
             </ul>
            
            </div>

        
    <script src="js/movinghead.js"></script>
    </body>
</html>