{% extends "layout.njk" %}

{% block main %}
<form action="/password" method="post" id="password">
     <input autocomplete="off" autofocus name="password" placeholder="Enter super secret password" type="text">
</form>

{%endblock%}