{% extends "layout.njk" %}

{% block main %}
 <ul style="margin-left: 200px;">
                <h6>All quotes:</h6>
                {% if quotes|length %}
                    {%for quote in quotes %}
                    <li> {{quote.quote}}</li>
                    {%endfor%}
                {%else%}
                    <p>Select an author</p>
                {%endif%}
             </ul>
            
            </div>

{% endblock %}