a {
    width: 50px;
    height: 20px;
    background-color: peachpuff;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: top;
    transition: all 2s;
}

a:hover {
    cursor: pointer;
    background-color: aquamarine;
    width: 70px;
    height: 40px;    
}

#add {
    width: 500px;
    height: 500px;
    text-align: center;
}
body {
    background-color: lightblue;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    background-image: url("/images/flower.png");
    /* cursor: url("sword.png"), auto; */
}

table, th, td {
    border: 1px solid;
  }
  
button {
    width: 500px;
    height: 40px;
    background-color: peachpuff;
    margin-top: 20px;
    text-align: top;
    transition: all 2s;
}
button:hover {
    cursor: pointer;
    background-color: aquamarine;
    width: 550px;
    height: 40px;
    

}

#caleb-sword{
    height:100px; 
    width: auto;
    position: absolute;
    bottom: 75px
}
.content {
    /* height: 100px; */
    font-size:large;
    z-index: 100;
    background-color: bisque;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
}

#head {
    width: 100px;
    /* position: absolute;
    top: 0;
    left: 0; */
    /* z-index: 0; */
}

.sexy {
    position: absolute;
    width: 100px;
    top: 0;
    right: 60;
}

.marry-me {
    position: absolute;
    top: 10px;
    left: 0px;
    color: grey;
    font-weight: bold;
    font-size: small;

}


form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 500px; 
    margin-top: 10px;  
    margin-right: 200px;
    background-color: pink
}

#author-buttons {
    list-style-type: none;
    background-color: none;
}

.video-list {
    margin: 10px;
}