#head {
    width: 100px;

    /* position: absolute;
    top: 0;
    left: 0; */
    /* z-index: 0; */
}

.content {
    /* height: 100px; */
    font-size:large;
    z-index: 100;
    background-color: bisque;
}

body {
    background-color: lightblue;
    margin: 20px;
    /* cursor: url("sword.png"), auto; */
}
button {
    width: 50px;
    height: 20px;
    background-color: peachpuff;
}
button:hover {
    cursor: pointer;
    background-color: aquamarine;
}
h1 {
    text-align: center;
}

.sexy {
    position: absolute;
    width: 100px;
    top: 0;
    right: 60;
}

.marry-me {
    position: absolute;
    top: 10px;
    left: 0px;
    color: grey;
    font-weight: bold;
}