body {
    background-color: lightblue;
    margin: 20px;
    /* cursor: url("sword.png"), auto; */
}
button {
    width: 50px;
    height: 20px;
    background-color: peachpuff;
    margin-top: 20px;
    text-align: top;
}
button:hover {
    cursor: pointer;
    background-color: aquamarine;
    width: 70px;
    height: 40px;
}

#caleb-sword{
    height:100px; 
    width: auto;
    position: absolute;
    bottom: 75px
}
.content {
    /* height: 100px; */
    font-size:large;
    z-index: 100;
    background-color: bisque;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

h1 {
    text-align: center;
}

#head {
    width: 100px;

    /* position: absolute;
    top: 0;
    left: 0; */
    /* z-index: 0; */
}

.sexy {
    position: absolute;
    width: 100px;
    top: 0;
    right: 60;
}

.marry-me {
    position: absolute;
    top: 10px;
    left: 0px;
    color: grey;
    font-weight: bold;
}

form {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    height: 500px; 
    margin-top: 10px;  
    background-color: pink
}

#author-buttons {
    list-style-type: none;
}